name: Build and Push Images to Amazon ECR

on:
  push:
    branches: [ "main" ]

env:
  AWS_REGION: ${{ secrets.AWS_REGION }}
   
  ECR_REPOSITORY_WEBAPP: assignment1-webapp
  ECR_REPOSITORY_MYSQL: assignment1-mysql
  ECR_REPOSITORY_WEBAPP: clo835-a1-webapp
  ECR_REPOSITORY_MYSQL: clo835-a1-mysql
 

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Set image tags
        id: vars
        run: |
          echo "SHA_TAG=${GITHUB_SHA}" >> $GITHUB_OUTPUT
          echo "LATEST_TAG=latest" >> $GITHUB_OUTPUT

      - name: Build, tag, and push WEBAPP image to ECR
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        run: |
          docker build -t $ECR_REGISTRY/${ECR_REPOSITORY_WEBAPP}:latest -f Dockerfile .
          docker push $ECR_REGISTRY/${ECR_REPOSITORY_WEBAPP}:latest

      - name: Build, tag, and push MYSQL image to ECR
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        run: |
          docker build -t $ECR_REGISTRY/${ECR_REPOSITORY_MYSQL}:latest -f Dockerfile_mysql .
          docker push $ECR_REGISTRY/${ECR_REPOSITORY_MYSQL}:latest

